@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

.mainDiv {
  overflow-x: hidden;
  width: 98.9vw;

  background-color: black;
}
.banner {
  margin-top: 2rem;
  width: 98.9vw;
}
.contentLeft {
  width: 887px;
  color: white;
  margin-left: 2rem;
  margin-top: 6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  font-family: "Poppins";
  float: left;
}
.imageRight {
  margin-left: 4rem;
  margin-top: 3rem;
  width: 30rem;
  position: relative;
  left: 6rem;
}
.imageLeft {
  float: left;
  margin-top: 4rem;
  margin-left: 2rem;
  width: 30rem;
}
.content2 {
  margin-bottom: 20rem;
}
.contentRight {
  margin-top: 6rem;
  margin-right: 2rem;
  color: white;
  width: 887px;
  font-size: 25px;
  line-height: 40px;
  font-family: "Poppins";
  float: right;
}
.footerHeading {
  font-size: 80px;
  color: white;
  font-weight: 600;
  font-family: "poppins";
  text-align: center;
  margin-top: 10rem;
}
.teamDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-evenly;
  margin-top: 6rem;
}
.element {
  width: 20rem;
  color: #fff;
  font-family: "Poppins";
  background-color: #532cad;
  border-width: 4px;
  border-style: solid;
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 12px;
  border-image: linear-gradient(#532cad, #69e1f9) 30;
}
.element:hover {
  border-image: linear-gradient(#69e1f9, #532cad) 30;
}
