@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
.contentDiv {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(180deg, #532cad 21.48%, #69e1f9 86.58%); */
  background-color: black;
}
.mainImg {
  width: 40rem;
  position: relative;
  left: 55rem;
  bottom: 14rem;
}
.tagline {
  width: 50rem;
  color: white;
  position: relative;
  top: 12rem;
  left: 4rem;
}
.mainContainer {
  overflow: hidden;
}
.contentBtn1 {
  position: relative;
  top: 4rem;
  color: white;
  background-color: #532cad;
  border: none;
  width: 12rem;
  height: 4rem;
}
.contentBtn2 {
  position: relative;
  top: 4rem;
  width: 12rem;
  height: 4rem;
  left: 20rem;
  color: white;
  background-color: #532cad;
  border: none;
}
.motto {
  font-size: 3rem;
  background: linear-gradient(90deg, #532cad 21.48%, #69e1f9 86.58%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Poppins";
}
.subHeading {
  font-family: "Poppins";
  font-size: 20px;
  color: #69e1f9;
}
.faq {
  background-color: black;
}
